.speech{
    font-family: Times, serif;
    font-size: 18px;
    color:black;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color:black;
}
.stage-direction{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    color:lightpink;
    background-color: limegreen;
}
.stage-direction:hover{
    background-color: limegreen;
    color:lightseagreen;
}
.VALENTINE{
    color:black;
}
.PROTEUS{
    color:black;
}
.table{
    color:pink;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
 
table, th, td {
    border: 3px groove;
  }
 
tr:nth-child(even) {
    background-color: lightsalmon;
  



